
/*
 * Basic button style
 */
.btn {
  
  border-radius: 3px;
 

  height: 18px;
  line-height: 18px;
  padding: 0 8px;
  position: relative;

  font-size: 12px;
  text-decoration: none;
  
}
/*
 * Counter button style
 */
.btn-counter { margin-right: 39px; }
.btn-counter:after,
.btn-counter:hover:after { text-shadow: none; }
.btn-counter:after {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
  padding: 0 8px;
  color: #777;
  content: attr(data-count);
  left: 100%;
  margin-left: 8px;
  margin-right: -13px;
  position: absolute;
  top: -1px;
}
.btn-counter:before {
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');

  background-color: #eee;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-top: 50;
  content: '';
  position: absolute;
  right: -13px;
  top: 5px;
  height: 6px;
  width: 6px;
  z-index: 1;
  zoom: 1;
}
/*
 * Custom styles
 */
.btn{
  background-color: #dbdbdb;
  color:#3699f6;
}
.form-control1{
  
  resize:none;
    width: 900px;
    height: 150px;
    margin-left:50px;
}
.collapsible {
  background-color: #dbdbdb;
  border-color: #bbb;
  color: #3699f6;
   cursor: pointer;
   padding: 2px;
   width: 30px;
   margin-left:20px;
   display:inline-block;
   border: none;
   text-align:center;
   outline: none;
   font-size: 15px;
   border-right: 0;
  border-top: 80;
 }


.colcontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color:white;
}
.style {
  background-color: #dbdbdb;
  border-color: #bbb;
  color: #3699f6;
   cursor: pointer;
   padding: 2px;
   width: 30px;
   margin-left:20px;
   display:inline-block;
   border: none;
   text-align:center;
   outline: none;
   font-size: 15px;
 }
 
   
  
  .custom-btn {
    width: auto;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-left:72%;
  }
  
  /* 1 */
  .btn-1 {
    background: rgb(0,172,238);
    border: none;
  }
  .btn-1:hover {
     background:  rgb(4, 149, 206);
  }